/.idea/

**.egg-info/

/_notes/
**/tmp/
**.xopp~

*.acn
*.acr
*.alg
*.aux
*._aux
*.bbl
*.bcf
*.bib.bak
*.blg
*.dvi
*.fdb_latexmk
*.fls
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.log.?
*._log
*.lot
*.maf
*.mtc
*.mtc?
*.mtc??
*.ptc?
*.ptc??
*.nav
*.out
*.pdf
*.pdf#
*.pdfsync
*.pdf_tex
*.pw_tex
*.pytxcode
*.run.xml
*.snm
*.synctex.gz
*.synctex(busy)
*.tdo
*.toc
*.tex
